---
openapi: 3.0.2
info:
  title: ingestion
  version: 1.2.0
servers:
- url: https://ingestion.mint.isi.edu/v1.2.0
  description: ""
- url: http://localhost:8080/v1.2.0
  description: ""
paths:
  /results/{thread_id}:
    get:
      description: Gets the details of a single instance of a results
      parameters:
      - description: The ID of the resource
        in: path
        name: thread_id
        required: true
        schema:
          type: string
      responses:
        200:
          content:
            application/json:
              schema:
                type: object
            text/csv:
              schema:
                type: object                
          description: Gets the details of a single result
      summary: Get a result
      tags:
      - result
  /modelthreads:
    summary: Path used to manage the list of modelthreads.
    description: The REST endpoint/path used to list and create zero or more `modelthread`
      entities.  This path contains a `GET` and `POST` operation to perform the list
      and create tasks, respectively.
    post:
      requestBody:
        description: A new `modelthread` to be created.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/modelthread'
        required: true
      responses:
        "201":
          description: Successful response.
      summary: Create a modelthread
      description: Creates a new instance of a `modelthread`.
  /summary/{thread_id}:
    get:
      description: Gets the details of a single instance of a summary
      parameters:
      - description: The ID of the resource
        in: path
        name: thread_id
        required: true
        schema:
          type: string
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/summary'
          description: Gets the details of a single instance of Summary
      summary: Get a Summary
      tags:
      - summary
  /summary:
    summary: Obtain the summary
    description: Obtain the summary
    get:
      parameters:
      - name: limit
        description: ""
        schema:
          type: integer
          maximum: 500
          default: 200
        required: true
        in: query
      - name: page
        description: ""
        schema:
          type: integer
          default: 1
        in: query
      - name: model
        description: ""
        schema:
          type: string
          default: ""
        in: query
      responses:
        "200":
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/summary'
          description: Successful response - returns an array of `summary` entities.
      summary: List All summary
      description: Gets a list of all `summary` entities.
      tags:
        - summary    
    post:
      requestBody:
        description: Obtain a `summary`
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/modelthread'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/summary_response'
          description: Gets a exported summary
      summary: Create a summary
      description: Creates a new instance of a `modelthread`.
      tags:
        - summary        
components:
  schemas:
    summary_response:
      type: object
      properties:
        url:
          type: string
    summary:
      type: object
      properties:
        problem_formulation:
          $ref: '#/components/schemas/problem_formulation'
        scenario:
          $ref: '#/components/schemas/scenario'
        thread:
          $ref: '#/components/schemas/thread'
    modelthread:
      description: ""
      required:
      - scenario_id
      - subgoal_id
      - thread_id
      type: object
      properties:
        scenario_id:
          description: ""
          type: string
        subgoal_id:
          description: ""
          type: string
        thread_id:
          description: ""
          type: string
    scenario:
      description: ""
      type: object
      properties:
        id:
          type: string
        text:
          type: string
        region:
          type: string
        subregion:
          type: string
        time_period:
          type: object
    problem_formulation:
      type: object
      properties:
        id:
          type: string
        text:
          type: string
        region:
          type: string
        subregion:
          type: string
        time_period:
          type: object
    thread:
      description: ""
      type: object
      properties:
        id:
          description: ""
          type: string
        text:
          description: ""
        time_period:
          description: ""
        indicators:
          description: ""
        models:
          description: ""
        datasets:
          description: ""
        results:
          description: ""
